body{
    display: flex;
}

h1{
    color: white;
    font-size: 12vw;
}

section h2{
    font-size: 6vw;
}

#carrossel{
    padding: 0vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: block;
    margin: -2vh 0 5vw 0;
    text-align: center;
}

#carrossel p{
    text-align: center;
    height: fit-content;
    margin-bottom: 6vw;
}

#carrosselContent{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 3px;
    height: 100%;
    /* flex-wrap: wrap; */
    justify-content: center;
    
}

.temasCarrossel{
    background-color: #EEF87C;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    line-height: 4vw;
}

.temasCarrossel h2{
    color: black    ;
    font-size: 2vw;
}

.cancao{
    margin:3vw 2vw 10vw 2vw;
}

.audio{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

audio{
    border: 5px black solid;
    border-radius: 30px;
}

.download{
    background-color: #EEF87C;
    width: 18vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    font-size: 2vw;
    margin-left: 2vw;
    border-radius: 50px;
    cursor: pointer;
}

.download a{
    color: black;
    font-family: "stencil";
}

.download:hover{
    background-color: #ffffff;
    transform: scale(1.1);
    transition: 0.5s;
}

.letra{
    background-color: white;
    color: black;
    width: 50vw;
    height: 20vw;
    overflow-y: scroll;
    margin: auto;
    margin-top: -2vw;
}

.letra p{
    color:black;
    text-align: center;
}


.topico{

    h4, h5, h6{
        color: white;
        font-family: 'Stardos Stencil';
        text-align: center;
    }

    h3{
        background-color: #132510;
        padding: 1vw;
        width: 96.8vw;
    }

    h4{
        text-decoration: underline;
        font-size: 3.5vw;
        margin: 4vw 0 2vw 0
    }

    h5{
        font-size: 3vw;
        margin: 3vw 0 3vw 0;
    }

    h6{
        font-size: 2.5vw;
    }
    

    p{
        /* background-color: #EEF87C; */
        margin: 1vw;
        /* padding: 1vw; */
    }

}

/* ------------------ Conteudo */

.topico{
    /* margin-top: 12vw; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:450px){
    #camuflado{
        margin-top: 25vw;
    }
    
    #carrossel{
        margin-top: 38vw;
    }

    #carrosselContent{
        justify-content: center;
        height: fit-content;
        flex-wrap: wrap;
    }

    .temasCarrossel{
        width: 23.5vw;
        height: 23.5vw;
        text-decoration: none;
    }

    .temasCarrossel h2{
        font-size: 3.5vw;
    }

    .topico{

        h2{
            font-size: 10vw;
        }

        h3{
            font-size: 6vw;
        }

    
        h4{
            font-size: 5.5vw;
        }
    
        h5{
            font-size: 5vw;
        }
    
        h6{
            font-size: 5.5vw;
        }
        
        h3{
            background-color: #132510;
            padding: 1vw;
        }
    
        p{
            /* background-color: #EEF87C; */
            margin: 1vw;
            /* padding: 1vw; */
        }
    
    }

    .cancao{

        .audio{
            width: fit-content;
            flex-direction: column;
            margin: auto;
            margin-bottom: 10vw;
        }

        audio{
            width: 80vw;
            margin-bottom: 6vw;
        }

        .download{
            width: 40vw;
            height: 15vw;
            line-height: 15vw;
            font-size: 5vw;
        }

        .letra{
            width: 84vw;
            height: 30vh;
        }

        margin-bottom: 25vw;

    }
    

}